@font-face {
    font-family: "Avenir Normal";
    src: url("../font/avenir_ff/AvenirLTStd-Book.otf");
}

.filter-container {
    font-family: "Avenir Normal";
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2.5rem;
}

.filter {
    position: relative;
}

.month-label {
    margin-left: 1.25rem;
}

select {
    width: 12.5rem;
    height: 3.125rem;
    padding: 0.5rem 1.3rem;
    margin-left: 1.25rem;
    border: 1px solid #444444;
    border-radius: 0.375rem;
    font-size: 1.5rem;
}

.custom-arrow {
    position: absolute;
    top: 0.125rem;
    right: 0.25rem;
    background-color: #fff;
    display: block;
    width: 1.5rem;
    height: 90%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    color: #444444;
    font-size: 1.25rem;
}

@media (max-width: 750px) {
    .filter-container {
        height: 7rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .month-label {
        margin-left: 0;
    }
}

@media (max-width: 380px) {
    .filter-container {
        height: 12rem;
    }

    .filter {
        display: flex;
        flex-direction: column;
    }

    select {
        margin-left: 0;
    }

    .custom-arrow {
        top: 1.9rem;
        height: 60%;
    }
}